.login-section {
    padding: 60px;
    text-align: center;
  }
  
  .login-section h2 {
    padding-bottom: 40px;
  }
  
  .login-section input[type=text], .login-section input[type=password]{
    margin-bottom: 25px;
  }
  
  .login-button {
    margin-top: 10px;
    background-color: rgb(47, 201, 47);
    color: white;
    margin-bottom: 10px;
  }