.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .center-text{
    text-align: center;
    padding-bottom: 10px;
    color: black;
  }

  .background{
    background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(129,78,182,1) 33%, rgba(55,212,192,1) 66%, rgba(0,212,255,1) 100%);
    
  }

  .book-text{
    color: aliceblue;
    font-size: 40px;
}

.form-box{
  font-size: 25px;
  font-weight: bold;
  color: aliceblue;
        width: 800px;
        position: relative; left: 50%; margin-left: -400px; 
        padding: auto;          
}

.button-text{
  background: rgb(44, 41, 96);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(129,78,182,1) 33%, rgba(35,80,189,1) 59%, rgba(0,212,255,1) 100%);
  color: aliceblue;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
}



  .section-books {
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,78,182,1) 33%, rgba(0,212,255,1) 100%); */
 padding-bottom: 200px;
  width: 900px;
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,78,182,1) 33%, rgba(0,212,255,1) 100%) 1;
  padding: 50px;
  margin-left: auto;
    margin-right: auto;
  }


  .navlink {
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
   justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(129,78,182,1) 17%, rgba(88,222,205,1) 37%, rgba(0,212,255,1) 100%);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

/* body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    90deg, rgba(2,0,36,1) 0%, rgba(143,78,182,1) 33%, rgba(0,212,255,1) 100%
  );
} */

.card-list {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

  